<form id="form1" action="/places">
  <label for="places">Enter City:</label>
  <input id="places" name="places" type="text">
  <label for="lengthOfStay">Enter length of stay:</label>
  <input id="lengthOfStay" name="lengthOfStay" type="text">
  <button type="submit">Submit</button>
</form>