<form id="form1" action="/places" method="post">
  <label for="city">Enter City:</label>
  <input id="city" name="city" type="text">
  <label for="lengthOfStay">Enter length of stay:</label>
  <input id="lengthOfStay" name="lengthOfStay" type="number">
  <button type="submit">Submit</button>
</form>